<div>
  <h1>Statistics</h1>

  <!-- Monthly stats -->
  <h2>Monthly stats</h2>
  <table mat-table [dataSource]="statistics.monthItems" class="mat-elevation-z8">

    <!-- Category -->
    <ng-container matColumnDef="sportsCategoryName">
      <th mat-header-cell *matHeaderCellDef>Category</th>
      <td mat-cell *matCellDef="let item"> 
        <img [src]="getImage(item.sportsCategoryName)" class="sportsicon">  
      </td>
    </ng-container>

    <!-- distance -->
    <ng-container matColumnDef="distanceInKm">
      <th mat-header-cell *matHeaderCellDef>Distance</th>
      <td mat-cell *matCellDef="let item"> {{item.distanceInKm | distance}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!-- Yearly stats -->
  <h2>Yearly stats</h2>
  <table mat-table [dataSource]="statistics.yearItems" class="mat-elevation-z8">

    <!-- Category -->
    <ng-container matColumnDef="sportsCategoryName">
      <th mat-header-cell *matHeaderCellDef>Category</th>
      <td mat-cell *matCellDef="let item"> 
        <img [src]="getImage(item.sportsCategoryName)" class="sportsicon">  
      </td>
    </ng-container>

    <!-- distance -->
    <ng-container matColumnDef="distanceInKm">
      <th mat-header-cell *matHeaderCellDef>Distance</th>
      <td mat-cell *matCellDef="let item"> {{item.distanceInKm | distance}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>