<mat-sidenav-container>

    <mat-sidenav #sidenav>
        <mat-nav-list>
            <a mat-list-item  (click)="sidenav.close()" routerLink="/workouts">
                <mat-icon class="icon">list</mat-icon>
                <span class="label">Workouts</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <div>
                <button (click)="sidenav.toggle()" mat-icon-button>
                    <mat-icon>menu</mat-icon>
                </button>
            </div>

            <div>
                <!-- information about the user -->
                <app-user-info>
                </app-user-info>
            </div>
        </mat-toolbar>
    </mat-sidenav-content>
</mat-sidenav-container>