.sportsicon {
    height: 1em;
    width: 1em;
    margin-left: 0.2em;
}

mat-card-title {
    display: flex inline;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;

    :first-child {
        margin-right: 0.5em;
    }
}

mat-card-subtitle {
    display: flex inline;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tags {
    display: inline-flex;    
    padding-left: 1rem;
    padding-top: 0.1em;


    .tag {
        margin-left: 0.1em;
        margin-right: 0.0em;        
        background-color:  crimson;
        border-radius: 0.5em;
        padding-left: 0.5em;
        padding-right: 0.5em;
        font-weight: lighter;
        font-size: small;
    }
}