.welcome {
    font-size: x-large;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex; 

    & > div {
        padding-right: 0.8rem;
        transform: rotate(0deg);
        animation-name: rotateopf;
        animation-duration: 5s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
    }
}


@keyframes rotateopf {
    from {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.container {
    height: 100%;
    background-color: darkslateblue;
    color: white;
}


.snowflake {
    --size: 1em;
    width: var(--size);
    height: var(--size);
    background: white;
    border-radius: 50%;
    position: absolute;
    top: -5vh;
}


@for $i from 1 through 50 {
    .snowflake:nth-child(#{$i}) {
      --size: #{random(5) * 0.2}vw;
      --left-ini: #{random(60) - 30}vw;
      --left-end: #{random(60) - 30}vw;
      left: #{random(100)}vw;
      animation-name: snowfall;
      animation-duration: #{5 + random(10)}s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-delay: -#{random(10)}s;
    }
  }

  @keyframes snowfall {
    0% {
      transform: translate3d(var(--left-ini), 0, 0);
    }
    100% {
      transform: translate3d(var(--left-end), 110vh, 0);
    }
  }
