<div *ngIf="userProfile$ | async as profile" class="logincomp loginline">

    <div *ngIf="profile.authenticated === true" class="loginline">
        {{profile.name}}
        
        <a mat-raised-button class="signinbuttons" (click)="signOut()">
            <span>Sign out</span>
        </a> 
    </div>

    <div class="loginline" *ngIf="profile.authenticated === false">

        <span>Currently, you are not signed in</span>

        <!-- Login button -->
        <a  mat-raised-button
            class="signinbuttons"
            (click)="signIn()">
           <span>Sign in with Google</span>                 
        </a>         
        
        <mat-spinner 
            *ngIf="showLoginSpinner" 
            [diameter]="20"
            [color]="'accent'"
            class="spinner"></mat-spinner>    
    </div>

</div>