.mat-mdc-form-field {
 box-sizing: border-box;
 padding-left: 1rem;
 padding-right: 1rem;
 width: 100%;
}

.form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonlist {
    align-self: flex-end;  
    button {
        margin-right: 1rem;  
    }
}

.sliderrow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    
    > span {
        margin-right: 1rem;
    }

    mat-slider {
        flex: 1 1 auto;
    }
}

.tags {
    display: inline-flex;    
    padding-left: 1rem;
    padding-right: 1rem;

    .tag {
        margin-left: 0.1em;
        margin-right: 0.1em;
        padding: 0.4em;
        background-color:  crimson;
        border-radius: 0.5em;

        .remove {
            cursor: pointer;
            background: white;
            margin-left: 0.2em;
        }
    }
}
