<div>
    
    <mat-toolbar>
        <button (click)="deleteClick()" mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>      
    </mat-toolbar>

    <form class="form" [formGroup]="formGroup" (ngSubmit)="saveClick()">

        <input type="hidden" formControlName="id">

        <mat-form-field appearance="fill" class="uielement">
            <mat-label>Sport</mat-label>
            <select matNativeControl required placeholder="Sports category for this workout"
                formControlName="sportsCategoryId">
                <option value=""></option>
                <option *ngFor="let item of sports" [value]="item.id">{{item.name}}</option>
            </select>           
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Notes</mat-label>
            <textarea matInput 
                placeholder="Ex. It felt ..."
                maxlength="1000"
                formControlName="notes"></textarea>
        </mat-form-field>

        <div mat-dialog-actions class="buttonlist">
            <button mat-raised-button type="submit" [disabled]="!formGroup.valid">Save</button>
        </div>       

    </form>
</div>